@{
    ViewData["Title"] = "Privacy Policy";
}

<p>Разработка данного приложения велась в сплоченной и трудолюбивой команде состоящей из:
<p>Денисова Виктора</p>
<p>Мискевича Евгения</p>
<p>Сергея Мамонова</p>
</p>
